/* Paleta de colores */
/* FFF8D6 F7E1AE A4D0A4 617A55 */

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li, a, button, header, main, footer {
  font-family: "Roboto";
  text-decoration: none;
  color: black;
}

body {
  background-color: #FFF8D6;
}

header, main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15%;
}

h1 {
  font-family: "Roboto";
  color: black;
  font-size: 4vw;
  font-weight: 900;
}

h2 {
  font-family: "Roboto";
  color: #617A55;
  font-size: 1.5vw;
  font-weight: 300;
}

h3 {
  font-family: "Roboto";
  color: black;
  font-size: 1.5vw;
  font-weight: 300;
}

.nav-links, li{
  display: inline-block;
  padding: 1vw;
}

a:hover{
  color: #A4D0A4;
}

.logo {
  width: 180px;
}

.btn {
  background-color: white;
  width: 120px;
  height: 40px;
  border-radius: 15px;
  border-width: 1px;
  cursor: pointer;
}

.nav-links, .btn {
  font-size: 1vw;
}

.btn-large {
  background-color: #5dc72c;
  width: 20vw;
  height: 4vw;
  font-size: 1.2vw;
  border-width: 0;
  border-radius: 20px;
  margin-left: -3px;
}

.btn:hover {
  background-color: #A4D0A4;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.btn-large:hover {
  background-color: rgb(45, 167, 45);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.form {
  margin-top: 50px;
  justify-content: center;
}

#healthy-food{
  width: 45vw;
  float: right;
  margin: 5% 10%;
  border-radius: 20px;
}

/* Responsive */
@media screen and (max-width: 800px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%;
  }

  main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%;
  }

  .main-text2, .main-text3 {
    display: flex;
    align-items: center;
    padding: 10px 10%;
    justify-content: center;
  }

  h1 {
    font-size: 6vw;
    font-weight: 900;
  }

  h2 {
    font-size: 2.5vw;
    font-weight: 300;
  }

  #healthy-food{
    width: 80vw;
    float: right;
    margin: 5% 10%;
    border-radius: 20px;
  }

  .logo {
    width: 100px;
  }
  
  .btn {
    border-width: .0;
    background-color: #A4D0A4;
    width: 60px;
    height: 30px;
  }

  .nav-links, .btn {
    font-size: 1.8vw;
  }

  .btn-large {
    border-width: 0;
    background-color: #5dc72c;
    width: 40vw;
    height: 6vw;
    font-size: 2vw;
  }
  
}
